@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  /* content: ''; */
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 0;
	background-color: #1A1721;
	color: #FFFFFF;
	font-size: 16px;
}

html, body {
	height: 100%;
}

body,
h1,
h2,
p,
ul,
button {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
  padding: 0;
  font: inherit;
}

a {
  color: inherit;
	text-decoration: none;
}

button:enabled {
  cursor: pointer;
}

input:enabled {
	cursor: pointer;
	caret-color: #b59753;
}

input:focus-within {
	outline: none;
  border: 2px solid #b59753;
}

input, button {
	font: inherit;
	background: none;
	border-radius: 1rem;
	/*ios 기본 스타일 초기화*/
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
}

.a11y {
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	width: 1px;
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
}

button[id^="btn"] {
	height: 3.625rem;
	line-height: 3.625rem;
	padding: 0 1.8125rem;
	font-weight: 300;
	color: #FFFFFF;
}